body{
	padding-top:70px;
	padding-bottom:70px;
}
.jumbotron{
	background: #ECF0F1;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #2C3E50;
	padding :2em; 
}
img{
	width:100%;
	/*border:2px solid black;
	padding: 2px; */
}

.col-lg-4{
	margin-top: 30px
}